ACME  Platform SSP


# ACME Platform overview
{% md_clean_include 'ssp_frontmatter.md' heading_level=2 %}





# Control responses and guidance
{% for group in catalog_interface.get_all_groups_from_catalog() +%}
## {{ group.title }} {{ group.class }} \({{ group.id|upper }}\)

{% for control in catalog_interface.get_sorted_controls_in_group(group.id) %}
{{ ssp_md_writer.get_control_statement(control.control.id, 2) }}


#### {{ control_io_writer.get_label(control.control) }} Summary information
{{ ssp_md_writer.get_fedramp_control_tables(control.control.id, 4) }}

#### What is the solution and how is it implemented?
{{ ssp_md_writer.get_control_response(control.control.id, 4)}}
{% endif %}
{% endfor %}
{% endfor %}
